html, body {
  margin: 0;
  padding: 0;
}
#app {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin: auto;
}
.message {
  font-size: 24px;
  position: absolute;
  bottom:1em;
  left: 0;
  right: 0;
  text-align: center;
}
.icons {
  text-align: center;
  font-size: 64px;
}
.icons button {
  font-size: 1.5em;
  border: none 0;
  background: none;
}
.grid {
  padding: 20px;
  width: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin:auto;
}
.results { font-size: 32px; text-align: left; }
.row {
  white-space: nowrap;
  overflow: auto;
  font-family: monospace;
  padding: 15px 0;
  max-width: 100vw;
}
.level {
  background: #999;
  width: 100vw;
  line-height: 2.5;
  color: #fff;
  max-width: 600px;
}
.start button {
  font-size: 36px;
  padding: 15px 30px;
}
.start, .center {
  text-align: center;
}
.game-over, .progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mt-3 {
  margin-top: 3em;
}
.big {
  font-size: 32px;
  margin: 20px;
}

.results {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.results > div {
  position: relative;
  align-self: flex-start;
}
.game-over .guesses span:last-of-type {
  opacity: .5;
}
.progress .guesses span {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: text-bottom;
  text-align: center;
}
.correct, .incorrect {
  position: absolute;
  opacity: .8;
  font-size: 18px;
}
.correct {
  right: 53px;
  bottom: -1.25em;
}

.incorrect {
  right: 10px;
  bottom: -1.25em;
}

ins, del {
  text-decoration: none;
}

.small {
  font-size: 20px;
  margin-top: 1em;
}